<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>week4</title>
  </head>
  <body>
    <header class="title">
      <h1>歡迎光臨，請輸入帳號密碼</h1>
    </header>
    <div class="login">
      <div class="login_title">登入系統</div>
      <form action="/signin" method="post">
        <div class="login_input">
          <label for="account">帳號</label>
          <input id="account" type="text" name="account" />
        </div>
        <div class="login_input">
          <label for="password">密碼</label>
          <input id="password" type="password" name="password" />
        </div>
        <button type="submit" class="btn">登入</button>
      </form>
    </div>
  </body>
</html>
