<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>week4</title>
  </head>
  <body>
    <header class="title">
      <h1>歡迎光臨，請輸入帳號密碼</h1>
    </header>
    <div class="login">
      <div class="login_title">登入系統</div>
      <form action="">
        <div class="login_input"><label>帳號</label><input type="text" /></div>
        <div class="login_input">
          <label>密碼</label><input type="password" />
        </div>
        <button class="btn">登入</button>
      </form>
    </div>
  </body>
</html>
