<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0px;
      }
      .title {
        background-color: rgb(34, 51, 68);
        color: white;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
      }
      .member {
        font-size: 35px;
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    <title>失敗頁面</title>
  </head>
  <body>
    <header class="title">
      <h1>失敗頁面</h1>
    </header>
    <div class="member">{{ text }}</div>
    <a class="member" href="/">返回首頁</a>
  </body>
</html>
